body{
    background-color: rgb(2, 0, 0);
}
#image{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
   
  }
  h1{
    text-align: center;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }
  p{
    text-align: center;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
   
